{% extends 'base1.html.twig' %}
{% block title %}<title>Uitgebreide keuze uit koppelingen met bestaande Apps | Onetoshop</title>{% endblock %}
{% block navbar %}

    <div class="col-12 col-md-9 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
                <a href="{{ path('functionaliteit') }}" class="nav-link">Functonaliteit</a>
                <a href="{{ path('apps') }}" class="nav-link active">Apps</a>
                <a href="{{ path('blogs') }}" class="nav-link ">Blogs</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <div class="" id="contact-section">
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            {% for app in app %}
                    <h3 CLASS="card-title">{{ app.naam | raw }}</h3>
                {% if app.beschrijving is defined  %}
                    {{ app.beschrijving | raw }}
                {% else %}
                    <p class="font-weight-light">Er is geen beschrijving gevonden.</p>
                {% endif %}
            {% endfor %}

        </div>
        <!-- /.row -->
        <!-- Content Row -->

        <div class="row">
            {% if apps is defined %}
                {% for apps in apps %}
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-header">
                                <h3 style="text-align: center;" class="card-title">{{ apps.naam | raw }}</h3>
                            </div>
                            <div class="card-body">
                                {% if apps.beschrijving == true %}
                                    {% for i in [1,][0:146] %}
                                        {{ apps.beschrijving [0:146] | raw }}...
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <a style="width: 100%;" href="{{ path('app', {'slug' : apps.slug} ) }}"  class="btn btn-outline-primary">Lees Verder</a>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                {{ dump(app) }}
                <p>Er Zijn Geen Gegevens Gevonden!</p>
            {% endif %}
        </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
{% endblock %}
