{% extends 'base1.html.twig' %}

{% block title %}
    {% for appinformatie in appinformatie %}
        <title>{{ appinformatie.tabtitle }}</title>
    {% endfor %}
{% endblock %}

{% block navbar %}

    <div class="col-12 col-md-9 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
                <a href="{{ path('functionaliteit') }}" class="nav-link">Functonaliteit</a>
                <a href="{{ path('apps') }}" class="nav-link active">Apps</a>
                <a href="{{ path('blogs') }}" class="nav-link ">Blogs</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <div id="contact-section">
        <!-- Page Content -->
        <div class="container">
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
                <!-- /.col-lg-8 -->
                <div class="col-12">
                    {% if appinformatie %}
                        {% for appinformatie in appinformatie %}
                            <h1>{{ appinformatie.title | raw }}</h1>
                            <p>{{ appinformatie.body | raw }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Er Zijn Geen Gegevens Gevonden!</p>
                    {% endif %}
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
            <!-- Content Row -->

            <div class="row">
                {% if appinfo %}
                    {% for appinfo in appinfo %}
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h3  style="text-align: center;" class="card-title">{{ appinfo.naam | raw }}</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ appinfo.body | raw }}</p>
                                </div>
                                <div class="card-footer">
                                    <a style="width: 100%;" href="{{ path('app', {'naam' : appinfo.url} ) }}"  class="btn btn-outline-primary">Lees Verder</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
