{% extends 'admin/adminbase.html.twig' %}

{% block body %}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Card</li>
        </ol>
        <!-- Page Content -->
        <h1>Card Overzicht</h1>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-address-card"></i>
                Card
                <a href="{{ path('add_card') }}" type="button" class="btn btn-primary" style="float: right;">Add Card</a>
            </div>
            <div class="table-responsive">
                {% if cards %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Show</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card in cards %}
                            <tr>
                                <td>{{ card.id }}</td>
                                <td>{{ card.title }}</td>
                                <td>
                                    <a href="{{ path('show_card', {'slug' : card.title}) }}" class="btn btn-outline-dark" style="width: 100%;">Tonen</a>
                                </td>
                                <td>
                                    <a href="{{ path('edit_card', {'id' : card.id}) }}" class="btn btn-outline-primary" style="width: 100%;">Bewerken</a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_card', {'id' : card.id}) }}" class="btn btn-outline-danger" style="width: 100%;">Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Niks gevonden om weer te geven.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}