{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div id="content-wrapper">

    <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Card</li>
        <li class="breadcrumb-item active">Edit Card</li>
    </ol>
    <!-- Page Content -->
    <h1>Edit Card</h1>
    <!-- DataTables Example -->
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                                <div class="cmp-tb-hd">
                                    <div>
                                        {{ form_start(form) }}
                                        <p><h3>Titel</h3></p>
                                        <p class="font-weight-light">De naam van het bedrijf</p>
                                        {% form_theme form.title 'bootstrap_4_layout.html.twig' %}
                                        {{ form_row(form.title) }}

                                        <p><h3>Customer</h3></p>
                                        <p class="font-weight-light">De baas van het bedrijf of degene die de review heeft geschreven</p>
                                        {% form_theme form.customer 'bootstrap_4_layout.html.twig' %}
                                        {{ form_row(form.customer) }}

                                        <p><h3>Body</h3></p>
                                        <p class="font-weight-light">Hier komt de rieview die geschreven is door het bedrijf</p>
                                        {% form_theme form.body 'bootstrap_4_layout.html.twig' %}
                                        {{ form_row(form.body) }}

                                        <p><h3>Footer</h3></p>
                                        <p class="font-weight-light">Hier komen de social media links van het bedrijf</p>
                                        {% form_theme form.footer 'bootstrap_4_layout.html.twig' %}
                                        {{ form_row(form.footer) }}

                                        <p><h3>Slug</h3></p>
                                        <p class="font-weight-light">Hier komt de link naar meer informatie over het bedrijf deze link blijft op onetoshop</p>
                                        {% form_theme form.slug 'bootstrap_4_layout.html.twig' %}
                                        {{ form_row(form.slug) }}

                                        <p><h3>Achtergrond Foto</h3></p>
                                        <p class="font-weight-light">Hier komt een foto van de website van het bedrijf (formaat: breedte 600px bij hoogte 340px)</p>
                                        {{ form_row(form.images) }}

                                        <p><h3>Logo</h3></p>
                                        <p class="font-weight-light">Hier komt het logo van het bedrijf de foto moet rond zijn (formaat: breedte 160px bij hoogte 160px)</p>
                                        {{ form_row(form.images1) }}

                                        <hr>
                                        <button type="submit" style="width: 100%;" class="btn btn-primary">Edit Card!</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}