{% extends 'admin/adminbase.html.twig' %}

{% block body %}

<div class="form-element-area">
    <div class="container" style="padding-top: 40px">
        <div id="row">
            <div class="col-xs-12">
                <div class="form-element-list">
                    <div id="row">
                        {% if cards %}
                            {% for card in cards %}
                                <div class="">
                                    <div class="col-lg-4 col-md-6 col-sm-12" style="padding-left: 15px; padding-right: 15px">
                                        <div class="card-container">
                                            <div class="card">
                                                <div class="front">
                                                    <div class="cover">
                                                        {% if card.images is defined %}
                                                            <img src="{{ asset('/image/images/' ~ card.images.name) }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="user">
                                                        {% if card.images1 is defined %}
                                                            <a href="{{ path('project', {'naam' : card.slug}) }}" target="_blank"></a>
                                                            <img src="{{ asset('/image/images/' ~ card.images1.name) }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="content">
                                                        <div class="main">
                                                            <h3 class="name">{{ card.title }}</h3>
                                                            <p class="profession">{{ card.customer }}</p>
                                                            <p class="text-center">{{ card.body | raw}}</p>
                                                        </div>
                                                    </div>
                                                </div> <!-- end front panel -->
                                                <div class="back">
                                                    <div class="header">
                                                        <h2 class="motto">{{ card.title }}</h2>
                                                    </div>
                                                    <div class="content">
                                                        <div class="main">
                                                            <p class="text-center">Ga naar direct naar de website!</p>
                                                            <p class="text-center"><a href="{{ path('project', {'naam' : card.slug}) }}">{{ card.title }}</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="footer">
                                                        <div class="social-links text-center">
                                                            {{ card.footer | raw }}
                                                        </div>
                                                    </div>
                                                </div> <!-- end back panel -->
                                            </div> <!-- end card -->
                                        </div> <!-- end card-container -->
                                        <div>
                                        </div>
                                    </div> <!-- end col sm 3 -->
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Er zijn Geen Gegevens gevonden</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left: 30px;">
        <a href="{{ path('card_overzicht') }}"><button type="button" class="btn btn-outline-warning" style="color: black;">Ga Terug</button></a>
        <a class="btn btn-outline-danger" href="" data-toggle="modal" data-target="#delete">Verwijderen</a>
    </div>
</div>
{% for card in cards %}
    <!-- Logout Modal-->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zeker weten?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Weet u zeker dat u <b>{{ card.title }}</b> wilt verwijderen?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleer</button>
                    <a class="btn btn-primary"  href="{{ path('delete_card', {'id' : card.id}) }}">Verwijderen</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}