{% extends 'base1.html.twig' %}
{% block body %}
    <div class="" id="contact-section">
        <!-- Page Content -->
        <div class="container">
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
                <!-- /.col-lg-8 -->
                <div class="col-12">
                    {% if functionaliteitinfo %}
                        {% for functionaliteitinfo in functionaliteitinfo %}
                            <h1 class="font-weight-light">{{ functionaliteitinfo.title | raw }}</h1>
                            <p>{{ functionaliteitinfo.body | raw }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Er Zijn Geen Gegevens Gevonden!</p>
                    {% endif %}
                </div>
                <!-- /.col-md-4 -->
            </div>

            <!-- /.row -->
{#            <!-- Content Row -->#}
                <h2>Meer informatie</h2>
            <div class="row">
                {% if functionaliteitcard %}
                    {% for functionaliteitcard in functionaliteitcard %}
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">{{ functionaliteitcard.title | raw }}</h3>
                                                                    <p class="card-text">{{ functionaliteitcard.body | raw }}</p>
                                </div>
{#                                <div class="card-footer">#}
{#                                    <a href="{{ path('functionaliteitinfo', {'slug' : functionaliteit.url}) }}" class="btn btn-primary btn-sm">Lees Verder</a>#}
{#                                </div>#}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}
                <!-- /.col-md-4 -->
            </div>

            </div>
            <div>
                <input type="button" class="btn btn-primary btn-sm" value="<-- Terug" onClick="history.back()">
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
