{% extends 'base1.html.twig' %}

{% block title %}
    {% for functionaliteitinfo in functionaliteitinfo %}
        <title>{{ functionaliteitinfo.tabtitle }}</title>
    {% endfor %}
{% endblock %}
{% block navbar %}

    <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
                <a href="{{ path('functionaliteit') }}" class="nav-link active">Functonaliteit</a>
                <a href="{{ path('apps') }}" class="nav-link">Apps</a>
                <a href="{{ path('blogs') }}" class="nav-link ">Blogs</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <div class="" id="contact-section">
        <!-- Page Content -->
        <div class="container">
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
                <!-- /.col-lg-8 -->
                <div class="col-12">
                    {% if functionaliteitinfo %}
                        {% for functionaliteitinfo in functionaliteitinfo %}
                            <h1>{{ functionaliteitinfo.title | raw }}</h1>
                            <p>{{ functionaliteitinfo.body | raw }}</p>
                        {% endfor %}
                    {% else %}
                        <p>Er Zijn Geen Gegevens Gevonden!</p>
                    {% endif %}
                </div>
                <!-- /.col-md-4 -->
            </div>

            <!-- /.row -->
                <h2>Meer informatie:</h2>
            <div class="row">
                {% if functionaliteitcard %}
                    {% for functionaliteitcard in functionaliteitcard %}
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h3 class="card-title">{{ functionaliteitcard.title | raw }}</h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text font-weight-light">{{ functionaliteitcard.body | raw }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}
                <!-- /.col-md-4 -->
            </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /.container -->
{% endblock %}
