{% extends 'base1.html.twig' %}

{% block title %}<title>Daarom Onetoshop! | Onetoshop</title>{% endblock %}

{% block navbar %}
    <div class="col-12 col-md-9 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">


            <div class="aeigenstyle">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
                <a href="{{ path('functionaliteit') }}" class="nav-link active">Functonaliteit</a>
                <a href="{{ path('apps') }}" class="nav-link ">Apps</a>
                <a href="{{ path('blogs') }}" class="nav-link ">Blogs</a>
            </ul>
            </div>
        </nav>
    </div>

{% endblock %}
{% block body %}
<div class="" id="contact-section">
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <!-- /.col-lg-8 -->
            <div class="col-12">
                {% if functionaliteit %}
                    {% for functionaliteit in functionaliteit %}
                        {{ functionaliteit.body | raw }}
                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}
                    </div>
                    </div>

        <!-- Content Row -->
        <br>
        <div class="row">
            {% if functionaliteitinfo %}
                {% for functionaliteitinfo in functionaliteitinfo %}
                    {% if functionaliteitinfo.publiceer %}
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-header">
                                <h3 class="card-title" style="text-align: center;">{{ functionaliteitinfo.name | raw }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {% if functionaliteitinfo.body == true %}
                                        {% for i in [1,][0:200] %}
                                            {{ functionaliteitinfo.body [0:200] | raw }}...
                                        {% endfor %}</p>
                                    {% else %}
                                        <p></p>
                                    {% endif %}
                            </div>
                            <div class="card-footer">
                                <a style="width: 100%;" href="{{ path('functionaliteitinfo', {'slug' : functionaliteitinfo.slug}) }}"  class="btn btn-outline-primary">Lees Verder</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Er Zijn Geen Gegevens Gevonden!</p>
            {% endif %}
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
</div>
{% endblock body %}

