{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div id="content-wrapper">

    <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('functionaliteitadmin') }}">Functionaliteit Overzicht</a>
        </li>
        <li class="breadcrumb-item active">Functionaliteit Bewerken</li>
    </ol>
    <!-- Page Content -->
    <h1>Functionaliteit Bewerken</h1>
    <!-- DataTables Example -->
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                                <div class="cmp-tb-hd">
                                    <div>
                                        {{ form_start(form) }}
                                        {% form_theme form 'bootstrap_4_layout.html.twig' %}

                                        <p><h3>Naam</h3></p>
                                        <p class="font-weight-light">#</p>
                                        {{ form_row(form.name) }}

                                        <p><h3>Beschrijving</h3></p>
                                        <p class="font-weight-light">#</p>
                                        {{ form_row(form.body) }}

                                        <hr>
                                        <button type="submit" style="width: 100%;" class="btn btn-primary">Functionaliteit bewerken</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}