{% extends 'admin/adminbase.html.twig' %}


{% block body %}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Gebruikers</li>
            </ol>

            <!-- Page Content -->
            <h1>Gebruiker overzicht</h1>

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Users</div>

                    <div class="table-responsive">
                        {% if users %}
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Gebruikersnaam</th>
                                    <th>Email</th>
                                    <th>Wachtwoord (encrypted)</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for user in users %}
                                    <tr>
{#                                        {{ dump(gebruikers) }}#}
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.password }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Niks gevonden om weer te geven.</p>
                        {% endif %}
                    </div>

            <h1>Gebruiker aanmaken</h1>

            {% form_theme form 'bootstrap_4_layout.html.twig'  %}


                {{ form_start(form) }}
                {{ form_end(form) }}


            </div>
        </div>
        <!-- /.container-fluid -->
    <hr>


    </div>
    <!-- /.content-wrapper -->

    </div>



{% endblock %}