{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <style>body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}

        input1[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        p.parajessep{

            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        p.parajesse2p{

            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }


        .container {
            border-radius: 5px;
            background-color: white;
            padding: 20px;
        }</style>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Aanmelding</li>
            </ol>

            <div class="row">
                {% if aanmeldingen %}
                    {% for aanmeld in aanmeldingen %}
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Aanmelding</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Voornaam</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.voornaam}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Achternaam</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.achternaam}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Telefoonnummer</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.telefoon}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Email</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.email}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Doel van de webshop</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.doel}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Voorkeur</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.voorkeur}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Contact</label>
                                <div class="col-8">
                                    <input id="username" name="username"  value="{{aanmeld.contact}}" class="form-control here" required="required" readonly >
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
            </div>
        </div>



                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}

            </div>
            <div>
                <a href="{{ path('aanmeldingen') }}"><button type="button" class="btn btn-warning" style="color: black;">Ga Terug</button></a>
            </div>
        </div>
    </div>
{% endblock %}