{% extends 'base1.html.twig' %}

{% block header %}

{% endblock %}
{% block navbar %}

<div class="col-12 col-md-10 d-none d-xl-block">
    <nav class="site-navigation position-relative text-right" role="navigation">

        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a href="#home-section" class="nav-link">Home</a></li>
            <li><a href="#mogelijkheden-section" class="nav-link">Mogelijkheden</a></li>
            <li><a href="#service-section" class="nav-link">Services</a></li>
            <li><a href="#aanmelden-section" class="nav-link">Aanmelden</a></li>
            <li><a href="#recensies-section" class="nav-link">Recensies</a></li>
            <li><a href="#blog-section" class="nav-link">Blog</a></li>
            <li><a href="#contact-section" class="nav-link">Contact</a></li>
        </ul>
    </nav>
</div>

{% endblock %}
{% block body %}
    <div class="site-blocks-cover overlay" style="background-image: url(images/backgroundfront.png);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

                    <div class="row mb-4">
                        <div class="col-md-7">
                            <h1>Welkom</h1>
                            <p class="mb-5 lead">Boost uw traffic, omzet en winst met Onetoshop.</p>
                            <div>
                                <a href="{{ path('succes') }}" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Meld u nu aan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section" id="mogelijkheden-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                <h3 class="section-sub-title">Mogelijkheden</h3>
                <h2 class="section-title mb-3">De meeste functionaliteit voor de laagste prijs</h2>
                    <p>Een compleet geïntegreerde webshopservice, dat op alle fronten een oplossing biedt en geheel op maat gemaakt kan worden; waardoor u geld en tijd bespaart.</p>
                </div>
            </div>
            <div class="bg-white py-4 mb-4">
                <div class="row mx-4 my-4 product-item-2 align-items-start">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <img src="images/saas_laptop.png" alt="Image" class="img-fluid">
                    </div>

                    <div class="col-md-5 ml-auto product-title-wrap">
                        <span class="number">01.</span>
                        <h3 class="text-black mb-4 font-weight-bold">Daarom Onetoshop!</h3>
                        <p class="mb-4">Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past
                            binnen elk budget en alle functies en meer! bevat die je van een webshopplatform verwacht.
                            Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en kennis, van startup tot multinational.</p>


                    </div>
                </div>
            </div>

            <div class="bg-white py-4">
                <div class="row mx-4 my-4 product-item-2 align-items-start">
                    <div class="col-md-6 mb-5 mb-md-0 order-1 order-md-2">
                        <img src="images/saas_boost_uw_ traffic.png" alt="Image" class="img-fluid">
                    </div>

                    <div class="col-md-5 mr-auto product-title-wrap order-2 order-md-1">
                        <span class="number">02.</span>
                        <h3 class="text-black mb-4 font-weight-bold">Apps</h3>
                        <p class="mb-4">Apps kunnen aan je webshop gekoppeld worden om een aantal zaken te vereenvoudigen. Door middel van deze koppelingen kun je, bijvoorbeeld, het betaalproces en verzendproces automatiseren,
                            snel en gemakkelijk e-mails en nieuwsbrieven versturen naar je klanten, je nieuws en producten delen op sociale media en feedback van klanten op je webshop weergeven.</p>


                    </div>
                </div>
            </div>
    </div>


    <div class="site-blocks-cover inner-page-cover overlay get-notification"  style="background-image: url(images/backgroundfront.png); background-attachment: fixed;" data-aos="fade">
        <div class="container">

            <div class="row align-items-center justify-content-center">
                <form class="col-md-7" method="post">
                    <h2>Meld je aan voor de nieuwsbrief.</h2>
                    <div class="d-flex mb-4">

                    </div>

                    {{ form_start(form2) }}
                    {#                        <input type="submit" class="btn btn-white btn-outline-white rounded-0" value="Abonneer">#}
                    {{ form_end(form2) }}

                </form>
            </div>

        </div>
    </div>


    <div class="site-section" id="service-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h3 class="section-sub-title">Service</h3>
                    <h2 class="section-title mb-3">Altijd een pakket die bij u past</h2>
                </div>
            </div>
            <div id="generic_price_table">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!--PRICE HEADING START-->
                                <div class="price-heading clearfix">
{#                                    <h1>Altijd een pakket die bij u past</h1>#}
                                    <p>Onetoshop heeft alle oplossingen. Of u nu een startende webwinkelier bent, of al jaren vele producten verhandelt; wij hebben het pakket dat bij uw bedrijf past.</p>
                                </div>
                                <hr>
                                <!--//PRICE HEADING END-->
                            </div>
                        </div>
                    </div>
                    <div class="container">

                        <!--BLOCK ROW START-->
                        <div class="row">
                            <div class="col-md-4">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Basic</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">14</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>tot 2500 producten</span></li>
                                            <li><span>SSL & Eigen domeinnaam</span></li>
                                            <li><span>Responsive layout</span></li>
                                            <li><span>Internationaal verkopen</span></li>
                                            <li><span>E-mailmarketing</span></li>
                                            <li><span>Zoekmachine vriendelijk</span></li>
                                            <li><span>B2C</span></li>
                                            <li><span>Support via e-mail (tickets)</span></li>

                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <a class="" href="#aanmelden-section">START</a>
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>

                            <div class="col-md-4">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content active clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Medium</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">29</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>tot 5000 producten</span></li>
                                            <li><span>SSL & Eigen domeinnaam</span></li>
                                            <li><span>Responsive layout</span></li>
                                            <li><span>Internationaal verkopen</span></li>
                                            <li><span>E-mailmarketing</span></li>
                                            <li><span>Zoekmachine vriendelijk</span></li>
                                            <li><span>B2B &B2C </span></li>
                                            <li><span>Premium support</span></li>
                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <a class="" href="#aanmelden-section">START</a>
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>
                            <div class="col-md-4">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content  clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Advanced</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">49</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>tot 20000 producten</span></li>
                                            <li><span>SSL & Eigen domeinnaam</span></li>
                                            <li><span>Responsive layout</span></li>
                                            <li><span>Internationaal verkopen</span></li>
                                            <li><span>E-mailmarketing</span></li>
                                            <li><span>Zoekmachine vriendelijk</span></li>
                                            <li><span>B2B &B2C </span></li>
                                            <li><span>Multishop module & Premium support</span></li>
                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <a class="" href="#aanmelden-section">START</a>
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>
                        </div>
                        <!--//BLOCK ROW END-->

                    </div>
                </section>
            </div>
        </div>
    </div>




    <div class="site-blocks-cover overlay get-notification" id="aanmelden-section" style="background-image: url(images/backgroundfront.png); background-attachment: fixed; background-position: top;" data-aos="fade">
        <div class="container">

            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <h3 class="section-sub-title"></h3>
                    <h3 class="section-title text-white mb-4">Start uw droomwinkel</h3>
                    <p class="mb-5 lead">Bent u klaar voor e-commerce?</p>
                    <p><a href="{{ path('succes') }}" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Aanmelden</a></p>
                </div>
            </div>

        </div>
    </div>

    <div class="site-section testimonial-wrap" id="recensies-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h3 class="section-sub-title">Klanten zeggen</h3>
                    <h2 class="section-title mb-3">Recensies</h2>
                </div>
            </div>
        </div>
        <div class="container"
        <div id="row">
            {% if cards %}
                {% for card in cards %}
                    <div class="">
                        <div class="col-lg-4 col-md-6 col-sm-12" style="padding-left: 15px; padding-right: 15px">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            {% if card.bgimage is defined %}
                                                <img src="{{ asset('/image/card/' ~ card.bgimage.name) }}"/>
                                            {% endif %}
                                        </div>
                                        <div class="user">
                                            {% if card.frimage is defined %}
                                                <a href="{{ path('project', {'naam' : card.slug}) }}" target="_blank"></a>
                                                <img src="{{ asset('/image/card/' ~ card.frimage.name) }}"/>
                                                {% endif %}
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">{{ card.title }}</h3>
                                                <p class="profession">{{ card.customer }}</p>
                                                <p class="text-center">{{ card.body }}</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h2 class="motto">{{ card.title }}</h2>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <p class="text-center">Ga naar direct naar de website!</p>
                                                <p class="text-center"><a href="{{ path('project', {'naam' : card.slug}) }}">{{ card.title }}</a></p>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                {{ card.footer | raw }}
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                            <div>
                            </div>
                        </div> <!-- end col sm 3 -->
                    </div>
                {% endfor %}
            {% else %}
                <p>Er zijn Geen Gegevens gevonden</p>
            {% endif %}
        </div>
    </div>
    </div>


    <div class="site-section" id="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h3 class="section-sub-title">Blog</h3>
                    <h2 class="section-title mb-3">Blog Posts</h2>
                </div>
            </div>

            <div class="row">
                {% if blogs %}
                    {% for blog in blogs %}
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry">
                        <img class="img-fluid1" src="{{ asset('/image/blog/' ~ blog.image) }}" />

                        <h2 class="font-size-regular"><a href="{{ path('blogshow', {'slug' : blog.slug}) }}" class="text-black">{{ blog.title }}</a></h2>
                        <p>{{ blog.beschrijving }}</p>

                        <p><a href="{{ path('blogshow', {'slug' : blog.slug}) }}">Lees...</a></p>

                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p>Er zijn Geen Gegevens gevonden</p>
                {% endif %}


            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <p><a href="{{ path('blogs') }}" class="btn btn-black btn-outline-black py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Naar blogs gaan</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="contact-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h3 class="section-sub-title">Contact</h3>
                    <h2 class="section-title mb-3">Vragen?</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                        <div class="col-md-7 mb-5">

                            <div class="p-5 bg-white">

                                {{ form_start(form) }}
                                <div class="row form-group">
                                    <div class="col-md-6 mb-3 mb-md-0">
                                        {{ form_row(form.voornaam) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(form.achternaam) }}
                                    </div>
                                </div>
                                {{ form_row(form.email) }}
                                {{ form_row(form.onderwerp) }}
                                {{ form_row(form.bericht) }}
                                    <div class="text-center">
                                        {{ form_row(form.Verzend) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        // $('#generic_price_table').hover(
        //     function() {
        //         $('.generic_content clearfix').addClass('#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg');
        //     },
        //     function() {
        //         $('.generic_content clearfix').removeClass('#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg');
        //     }
        // );
        var header = document.getElementById("generic_price_table");
        var btns = header.getElementsByClassName("generic_content  clearfix");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("mouseover", function() {
                var current = document.getElementsByClassName("active clearfix");
                current[0].className = current[0].className.replace(" active clearfix", "");
                this.className += " active clearfix";
            });
        }


    </script>

{% endblock %}


