{% extends 'base1.html.twig' %}

{% block header %}
    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2">Boost uw traffic, omzet en winst met Onetoshop</h1>
                    <p class="lead mb-5 text-white-50">Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en kennis, van startup tot multinational..</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2> Ontdek de voordelen van een SaaS-webshop</h2>
            <hr>
            <p>Software-as-a-Service, oftewel SaaS, betekent dat Onetoshop zorgt voor de hosting, technologie en updates voor jouw webshop. Op die manier kun je je volledig richten op de verkoop van je product. Dankzij de vaste maandelijkse prijzen weet je waar je aan toe bent</p>
            <p>Kies ook voor Onetoshop, net als duizenden andere webwinkeliers waaronder gorillaGrip, TrailerPlus, Een GroeneWereld en CamperSalon.</p>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact</h2>
            <hr>
            <address>
                <strong>Onetoshop</strong>
                <br>Oudestraat 216 K
                <br>8261 CA Kampen
                <br>
                <strong>Openingstijden</strong>
                <br>Maandag / vrijdag 09:00 - 17:00
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                038-711 03 08
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">info@onetoshop.com</a>
            </address>
        </div>
    </div>

    <div class="row">
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0"   <img src="images/saas_laptop.png" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light">De meeste functionaliteit voor de laagste prijs</h1>
                <p>Een compleet geïntegreerde webshopservice, dat op alle fronten een oplossing biedt en geheel op maat gemaakt kan worden; waardoor u geld en tijd bespaart.</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
    </div>

    <div class="row">
        <div class="row align-items-center my-5">
            <div class="col-lg-5">
                <h1 class="font-weight-light">Daarom Onetoshop!</h1>
                <p>Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en kennis, van startup tot multinational.</p>

            </div>
            <!-- /.col-md-4 -->
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0"   <img src="images/saas_boost_uw_ traffic.png" alt="">
            </div>
            <!-- /.col-lg-8 -->

        </div>
    </div>




{#    <div class=" text-black bg-white my-5 py-4 text-center">#}
{#            <h1  class="font-weight-light">Wat zeggen klanten</h1>#}
{#    </div>#}

{#    <div class="section">#}
{#                {% if cards %}#}
{#                {% for card in cards %}#}
{#        <div class="col-sm-10 ">#}
{#            <div class="col-md-4 col-sm-6">#}
{#                <div class="card-container">#}
{#                    <div class="card">#}
{#                        <div class="front">#}
{#                            <div class="cover">#}
{#                                <img src="{{ asset('/image/card/' ~ card.backgroundimage) }}"/>#}
{#                            </div>#}
{#                            <div class="user">#}
{#                                <img src="{{ asset('/image/card/' ~ card.frondimage) }}"/>#}
{#                            </div>#}
{#                            <div class="content">#}
{#                                <div class="main">#}
{#                                    <h3 class="name">{{ card.title }}</h3>#}
{#                                    <p class="profession">{{ card.customer }}</p>#}
{#                                    <p class="text-center">{{ card.body }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div> <!-- end front panel -->#}
{#                        <div class="back">#}
{#                            <div class="header">#}
{#                                <h2 class="motto">{{ card.title }}</h2>#}
{#                            </div>#}
{#                            <div class="content">#}
{#                                <div class="main">#}
{#                                    <p class="text-center">Ga naar direct naar de website!</p>#}
{#                                    <p class="text-center"><a href="{{ card.link }}" target="_blank">{{ card.link }}</a></p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="footer">#}
{#                                <div class="social-links text-center">#}
{#                                    {{ card.footer | raw }}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div> <!-- end back panel -->#}
{#                        {% endfor %}#}
{#                        <!--         <div class="col-sm-1"></div> -->#}
{#                        {% else %}#}
{#                            <p>Er zijn Geen Gegevens gevonden</p>#}
{#                        {% endif %}#}


{#                    </div> <!-- end card -->#}

{#                </div> <!-- end card-container -->#}

{#            </div> <!-- end col sm 3 -->#}
{#        </div>#}

{#        </div> <!-- end col-sm-10 -->#}
{#    </div>#}
</div>


    <!-- Content Row -->

{#<div class="container">#}
{#    <div id="row"></div>#}

{#        {% if cards %}#}
{#        {% for card in cards %}#}

{#                                <div class="col-4">#}


{#                                    <div class="card-container">#}


{#                                        <div class="card">#}
{#                                            <div class="front">#}
{#                                                <div class="cover">#}

{#                                                    <img src="{{ asset('/image/card/' ~ card.backgroundimage) }}"/>#}
{#                                                </div>#}
{#                                                <div class="user">#}
{#                                                    <a href="{{ card.link }}" target="_blank">#}
{#                                                        <img src="{{ asset('/image/card/' ~ card.frondimage) }}"/>#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                                <div class="content">#}
{#                                                    <div class="main">#}
{#                                                        <h3 class="name">{{ card.title }}</h3>#}
{#                                                        <p class="profession">{{ card.customer }}</p>#}
{#                                                        <p class="text-center">{{ card.body }}</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div> <!-- end front panel -->#}
{#                                            <div class="back">#}
{#                                                <div class="header">#}
{#                                                    <h2 class="motto">{{ card.title }}</h2>#}
{#                                                </div>#}
{#                                                <div class="content">#}
{#                                                    <div class="main">#}
{#                                                        <p class="text-center">Ga naar direct naar de website!</p>#}
{#                                                        <p class="text-center"><a href="{{ card.link }}" target="_blank">{{ card.link }}</a></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="footer">#}
{#                                                    <div class="social-links text-center">#}
{#                                                        {{ card.footer | raw }}#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div> <!-- end back panel -->#}
{#                                        </div> <!-- end card -->#}
{#        {% endfor %}#}
{#                                    </div> <!-- end card-container -->#}



{#            </div> <!-- end col sm 3 -->#}

{#        {% else %}#}
{#            <p>Er zijn Geen Gegevens gevonden</p>#}
{#        {% endif %}#}
{#</div>#}
{#    </div>#}

{#    </div>#}
{#    </div>#}

{#</div>#}

{#    <div class="breadcomb-area">#}
{#        <div class="container">#}
{#            <div id="row">#}
{#                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                    <div class="breadcomb-list">#}
{#                        <div id="row">#}
{#                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                                <div class="breadcomb-wp">#}
{#                                    <div class="breadcomb-icon">#}
{#                                        <i class="notika-icon notika-house"></i>#}
{#                                    </div>#}
{#                                    <div class="breadcomb-ctn">#}

{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Form Element area Start-->#}
{#    <div class="form-element-area">#}
{#        <div class="container">#}
{#            <div id="row">#}
{#                <div class="col-xs-12">#}
{#                    <div class="form-element-list">#}
{#                        <div class="basic-tb-hd">#}
{#                            <div class="col-xs-12 col-lg-6">#}
{#                                <img src="images/saas_laptop.png"/>#}
{#                            </div>#}
{#                            <div id="row">#}
{#                                <div class="col-xs-12 col-lg-6">#}
{#                                    <h1 class="home">#}
{#                                        Ontdek de voordelen van een SaaS-webshop#}
{#                                    </h1>#}
{#                                    <p class="home">#}
{#                                        Software-as-a-Service, oftewel SaaS, betekent dat Onetoshop zorgt voor de hosting, technologie en updates voor jouw webshop. Op die manier kun je je volledig richten op de verkoop van je product. Dankzij de vaste maandelijkse prijzen weet je waar je aan toe bent. Kies ook voor Onetoshop, net als duizenden andere webwinkeliers waaronder gorillaGrip, TrailerPlus, Een GroeneWereld en CamperSalon.#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-element-area">#}
{#        <div class="container">#}
{#            <div id="row">#}
{#                <div class="col-xs-12">#}
{#                    <div class="form-element-list">#}
{#                        <div class="basic-tb-hd">#}
{#                            <div id="row">#}
{#                                <div class="col-xs-12 col-lg-6">#}
{#                                    <h1 class="home">Boost uw traffic, omzet en winst met Onetoshop</h1>#}
{#                                    <p class="home">#}
{#                                        Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een#}
{#                                        webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime#}
{#                                        informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en#}
{#                                        kennis, van startup tot multinational.#}
{#                                    </p>#}
{#                                    <h1 class="home">De meeste functionaliteit voor de laagste prijs</h1>#}
{#                                    <p class="home">#}
{#                                        Een compleet geïntegreerde webshopservice, dat op alle fronten een oplossing biedt en geheel op maat gemaakt kan worden; waardoor u geld en tijd#}
{#                                        bespaart.#}
{#                                    </p>#}
{#                                </div>#}
{#                                <div class="col-xs-12 col-lg-6">#}
{#                                    <img src="images/saas_boost_uw_ traffic.png"/>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="form-element-area">#}
{#        <div class="container">#}
{#            <div id="row">#}
{#                <div class="col-xs-12">#}
{#                    <div class="form-element-list">#}
{#                        <div class="basic-tb-hd">#}
{#                            <div class="cmp-tb-hd">#}
{#                                <div class="cmp-tb-hd">#}
{#                                    <h1 style="text-align: center;">Wat zeggen klanten</h1>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div id="row">#}

{#                            <section class="newsletter">#}
{#                                    <div class="cmp-tb-hd">#}
{#                                        <div class="col-sm-12">#}
{#                                            <div class="content">#}
{#                                                <h3>Boost uw traffic, omzet en winst met Onetoshop</h3>#}
{#                                                <p>SAAS Webshop oplossingen</p>#}
{#                                                <div class="input-group">#}
{#                                                    <input type="email" class="form-control" placeholder="Wat is uw e-mailadres?">#}
{#                                                    <span class="input-group-btn">#}
{#                                                        <button class="btn" type="submit">Start Nu</button>#}
{#                                                    </span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                            </section>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



{% endblock %}


