{% extends 'base.html.twig' %}

{% block body %}
    <div class="breadcomb-area">
        <div class="container">
            <div id="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div id="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-house"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Home</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Form Element area Start-->
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <img src="images/saas_laptop.png"/>
                            </div>
                            <div id="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <h1 class="home">
                                        Ontdek de voordelen van een SaaS-webshop
                                    </h1>
                                    <p class="home">
                                        Software-as-a-Service, oftewel SaaS, betekent dat Onetoshop zorgt voor de hosting, technologie en updates voor jouw webshop. Op die manier kun je je volledig richten op de verkoop van je product. Dankzij de vaste maandelijkse prijzen weet je waar je aan toe bent. Kies ook voor Onetoshop, net als duizenden andere webwinkeliers waaronder gorillaGrip, TrailerPlus, Een GroeneWereld en CamperSalon.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div id="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <h1 class="home">Boost uw traffic, omzet en winst met Onetoshop</h1>
                                    <p class="home">
                                        Het Onetoshop-platform is een volledige en veelzijdige webshopservice, die past binnen elk budget en alle functies en meer! bevat die je van een
                                        webshopplatform verwacht. Test om te zien wat werkt, zonder grote investeringen vooraf te hoeven doen, identificeer je sterke punten met realtime
                                        informatie en rapportage, optimaliseer je bedrijf met geïntegreerde beheertools en geautomatiseerde processen en bouw je bedrijf op met onze steun en
                                        kennis, van startup tot multinational.
                                    </p>
                                    <h1 class="home">De meeste functionaliteit voor de laagste prijs</h1>
                                    <p class="home">
                                        Een compleet geïntegreerde webshopservice, dat op alle fronten een oplossing biedt en geheel op maat gemaakt kan worden; waardoor u geld en tijd
                                        bespaart.
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <img src="images/saas_boost_uw_ traffic.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#flip card#}
    {#    card GorillaGrip#}
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                                <div class="cmp-tb-hd">
                                    <h1 style="text-align: center;">Wat zeggen klanten</h1>
                                </div>
                            </div>
                        </div>
                        <div id="row">
                            {% if cards %}
                            {% for card in cards %}
                            <div class="cmp-tb-hd">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="front">
                                                <div class="cover">
                                                    <img src="images/GorillaGrip_background.png"/>
                                                </div>
                                                <div class="user">
                                                    <a href="{{ card.link }}" target="_blank">
                                                        <img class="img-circle" src="images/GorillaGrip.png"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <h3 class="name">{{ card.title }}</h3>
                                                        <p class="profession">{{ card.customer }}</p>
                                                        <p class="text-center">{{ card.body }}</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end front panel -->
                                            <div class="back">
                                                <div class="header">
                                                    <h2 class="motto">{{ card.title }}</h2>
                                                </div>
                                                <div class="content">
                                                    <div class="main">
                                                        <p class="text-center">Ga naar direct naar de website!</p>
                                                        <p class="text-center"><a href="{{ card.link }}" target="_blank">{{ card.link }}</a></p>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <div class="social-links text-center">
                                                        {{ card.footer | raw }}
                                                    </div>
                                                </div>
                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->
                                    </div> <!-- end card-container -->
                                </div> <!-- end col sm 3 -->
                            </div>
                                {% endfor %}
                                {% else %}
                                    <p>Er zijn Geen Gegevens gevonden</p>
                                {% endif %}
                            <section class="newsletter">
                                    <div class="cmp-tb-hd">
                                        <div class="col-sm-12">
                                            <div class="content">
                                                <h3>Boost uw traffic, omzet en winst met Onetoshop</h3>
                                                <p>SAAS Webshop oplossingen</p>
                                                <div class="input-group">
                                                    <input type="email" class="form-control" placeholder="Wat is uw e-mailadres?">
                                                    <span class="input-group-btn">
                                                        <button class="btn" type="submit">Start Nu</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
