{% extends 'base1.html.twig' %}
{% block navbar %}

    <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
                <a href="{{ path('functionaliteit') }}" class="nav-link">Functonaliteit</a>
                <a href="{{ path('apps') }}" class="nav-link">Apps</a>
                <a href="{{ path('blogs') }}" class="nav-link active">Blogs</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <h1 class="my-4">Blogs
                </h1>
                <!-- Blog Post -->
                {% if blogs %}
                {% for blog in blogs %}
                <div class="card mb-4">
                    {% if blog.image is defined %}
                        <img src="{{ asset('/image/blog/' ~ blog.image.name) | imagine_filter('medium') }}" />
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ blog.title }}</h2>
                        <p class="card-text">{{ blog.beschrijving }}</p>
                        <a  href="{{ path('blogshow', {'slug' : blog.slug}) }}" class="btn btn-primary">Lees verder &rarr;</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p>Er zijn Geen Gegevens gevonden</p>
                {% endif %}



            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Zoek</h5>
                    <div class="card-body">
                        <div class="input-group">

                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <a href="{{ path('home') }}"><button  class="back-button" type="button">Klik om terug te gaan</button></a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}