{% extends 'base1.html.twig' %}

{% block navbar %}

    <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{{ path('functionaliteit') }}" class="nav-link">Functonaliteit</a></li>
                <li><a href="{{ path('app') }}" class="nav-link">Apps</a></li>
                <li><a href="{{ path('blog') }}" class="nav-link active">Blogs</a></li>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">Blogs
                </h1>
                <!-- Blog Post -->
                {% if blogs %}
                {% for blog in blogs %}
                <div class="card mb-4">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ asset('/image/blog/' ~ blog.image) | imagine_filter('big') }}" />
                    <div class="card-body">
                        <h2 class="card-title">{{ blog.title }}</h2>
                        <p class="card-text">{{ blog.beschrijving }}</p>
                        <a  href="{{ path('blogshow', {'slug' : blog.slug}) }}" class="btn btn-primary">Lees verder &rarr;</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p>Er zijn Geen Gegevens gevonden</p>
                {% endif %}


            </div>

            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Zoek</h5>
                    <div class="card-body">
                        <div class="input-group">

                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}