{% extends 'base1.html.twig' %}

{% block title %}
    <title>Onetoshop | E-commerce Blog</title>
{% endblock %}

{% block navbar %}

    <div class="col-12 col-md-9 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
                <a href="{{ path('functionaliteit') }}" class="nav-link">Functonaliteit</a>
                <a href="{{ path('apps') }}" class="nav-link">Apps</a>
                <a href="{{ path('blogs') }}" class="nav-link active">Blogs</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}

<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Resultaat
            </h1>
            {% if blogs %}
                {% for blogs in blogs %}
                    <div class="my-4">
                        {% if blogs.image is defined %}
                            <img class="img-fluid rounded" src="{{ asset('/image/blog/' ~ blogs.image.name) | imagine_filter('medium') }}" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ blogs.title }}</h2>
                            <p class="card-text">{{ blogs.beschrijving | raw }}</p>
                            <a style="width: 100%;" href="{{ path('blogshow', {'slug' : blogs.slug}) }}"  class="btn btn-outline-primary">Lees Verder</a>
{#                            <a  href="{{ path('blogshow', {'slug' : blogs.slug}) }}" class="btn btn-primary">Lees verder &rarr;</a>#}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Er zijn Geen Gegevens gevonden</p>
            {% endif %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Zoek</h5>
                <div class="card-body">
                    <div class="input-group">

                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- Categories Widget -->
        </div>
</div>
</div>
{% endblock %}
