{% extends 'base1.html.twig' %}

{% block title %}
    {% for blogs in blogs %}
        <title>{{ blogs.tabtitle }}</title>
    {% endfor %}
{% endblock %}
{% block navbar %}

    <div class="col-12 col-md-9 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
            <div class="onzeeigendiv">
                <div class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                    <a href="{{ path('home') }}" class="nav-link">Home</a>
                    <a href="{{ path('functionaliteit') }}" class="nav-link ">Functonaliteit</a>
                    <a href="{{ path('apps') }}" class="nav-link ">Apps</a>
                    <a href="{{ path('blogs') }}" class="nav-link active ">Blogs</a>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <!-- Page Content -->
<div>
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-10 offset-1" style="" >
                {% if blogs %}
                {% for blogs in blogs %}
                <!-- Title -->
                <h1 class="mt-4">{{ blogs.title }}</h1>
                <p class="lead">{{ blogs.beschrijving | raw }}</p>
                    <hr>
                        <img class="img-fluid rounded" src="{{ asset('/image/images/' ~ blogs.images.name) | imagine_filter('big') }}" alt="">

                    <hr>
                <p>{{ blogs.body | raw }}</p>
                <hr>
                    {% endfor %}
                    {% else %}
                        <p>Er zijn Geen Gegevens gevonden</p>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}