{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div id="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">App</li>
        <li class="breadcrumb-item active">Add App</li>
    </ol>
    <!-- Page Content -->
    <h1>Add App</h1>
    <!-- DataTables Example -->
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                                <div class="cmp-tb-hd">
                                    <div>
                                        {{ form_start(form) }}
                                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                        <p><h3>Naam</h3></p>
                                        <p class="font-weight-light">Naam van een groep die je wilt aanmaken</p>
                                        {{ form_row(form.naam) }}

                                        <p><h3>Body</h3></p>
                                        <p class="font-weight-light">Hier komt korte informatie te staan over de groep die je wil aanmaken</p>
                                        {{ form_row(form.body) }}

                                        <p><h3>Url</h3></p>
                                        <p class="font-weight-light">Hier komt nog een keer de naam van de koppeling te staan alleen dan zonder hoofdletters en spaties worden streepjes</p>
                                        {{ form_row(form.url) }}
                                        <hr>
                                        <button type="submit" style="width: 100%;" class="btn btn-primary">Add App!</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}