{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <div id="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Appinfo</li>
        <li class="breadcrumb-item active">Add Appinfo</li>
    </ol>
    <!-- Page Content -->
    <h1>Add Appinfo</h1>
    <!-- DataTables Example -->
    <div class="form-element-area">
        <div class="container">
            <div id="row">
                <div class="col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <div class="cmp-tb-hd">
                                <div class="cmp-tb-hd">
                                    <div style="text-align: center;">
                                        {{ form_start(form) }}
                                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                        <p><h3>Naam</h3></p>
                                        <p class="font-weight-light">Naam van de koppeling die bij app is aangemaakt</p>
                                        {{ form_row(form.naam) }}

                                        <p><h3>Body</h3></p>
                                        <p class="font-weight-light">Informatie op het kaartje</p>
                                        {{ form_row(form.body) }}

                                        <p><h3>Url</h3></p>
                                        <p class="font-weight-light">Hier komt nog een keer de naam zonder hoofdletters</p>
                                        {{ form_row(form.url) }}

                                        <p><h3>groep</h3></p>
                                        <p class="font-weight-light">Hier komt de groep bij welke koppeling dit kaartje hoord</p>
                                        {{ form_row(form.groep) }}


                                        <hr>
                                        <button type="submit" style="width: 100%;" class="btn btn-primary">Add Appinfo!</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}