{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Apps</li>
                <li class="breadcrumb-item active">Show Apps</li>
            </ol>
            <!-- Page Content -->
            <h1>Apps Overzicht</h1>
            <div class="row">
                {% if apps %}
                    {% for apps in apps %}
                        <div class="row align-items-center my-5">
                            <div class="col-lg-5">
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ asset('/image/apps/' ~ apps.image.name) }}" alt="">
                            </div>
                            <!-- /.col-lg-8 -->
                            <div class="col-lg-7">
                                <h1 class="font-weight-light">{{ apps.title | raw }}</h1>
                                <p>{{ apps.body | raw }}</p>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}
            </div>
            <div>
                <a href="{{ path('apps_overzicht') }}"><button type="button" class="btn btn-outline-warning" style="color: black;">Ga Terug</button></a>
                <a class="btn btn-outline-danger" href="" data-toggle="modal" data-target="#delete">Verwijderen</a>
            </div>
        </div>
    </div>
    {% for apps in apps %}
        <!-- Logout Modal-->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Zeker weten?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Weet u zeker dat u <b>{{ apps.title }}</b> wilt verwijderen?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleer</button>
                        <a class="btn btn-primary"  href="{{ path('delete_apps', {'id' : apps.id}) }}">Verwijderen</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
