{% extends 'admin/adminbase.html.twig' %}
{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Appinformatie</li>
                <li class="breadcrumb-item active">Show Appinformatie</li>
            </ol>
            <!-- Page Content -->
            <h1>Appinformatie Overzicht</h1>
            <div class="row">
                <div id="contact-section">
                    <!-- Page Content -->
                    <div class="container">
                        <!-- Heading Row -->
                        <div class="row align-items-center my-5">
                            <!-- /.col-lg-8 -->
                            <div class="col-12">
                                {% if appinformatie %}
                                    {% for appinformatie in appinformatie %}
                                        <h1 class="font-weight-light">{{ appinformatie.title | raw }}</h1>
                                        <p>{{ appinformatie.body | raw }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                                {% endif %}
                            </div>
            </div>
            <div>
                <a href="{{ path('appinformatie_overzicht') }}"><button type="button" class="btn btn-outline-warning" style="color: black;">Ga Terug</button></a>
                <a class="btn btn-outline-danger" href="" data-toggle="modal" data-target="#delete">Verwijderen</a>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
                {% for appinformatie in appinformatie %}
                    <!-- Logout Modal-->
                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Zeker weten?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Weet u zeker dat u <b>{{ appinformatie.title }}</b> wilt verwijderen?</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleer</button>
                                    <a class="btn btn-primary"  href="{{ path('delete_appinformatie', {'id' : appinformatie.id}) }}">Verwijderen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
{% endblock %}
