{% extends 'admin/adminbase.html.twig' %}
{% block body %}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">App</li>
            <li class="breadcrumb-item active">Show App</li>
        </ol>
        <!-- Page Content -->
        <h1>App Overzicht</h1>
            <div class="row">
                {% if app1 %}
                    {% for app1 in app1 %}
                        <div class="col-md-3 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">{{ app1.naam | raw }}</h3>
                                    <p class="card-text">{{ app1.body | raw }}</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary btn-sm">Lees Verder</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Er Zijn Geen Gegevens Gevonden!</p>
                {% endif %}
            </div>
            <div>
                <a href="{{ path('app_overzicht') }}"><button type="button" class="btn btn-outline-warning" style="color: black;">Ga Terug</button></a>
                <a class="btn btn-outline-danger" href="" data-toggle="modal" data-target="#delete">Verwijderen</a>
            </div>
        </div>
    </div>
    {% for app1 in app1 %}
        <!-- Logout Modal-->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Zeker weten?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Weet u zeker dat u <b>{{ app1.naam }}</b> wilt verwijderen?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleer</button>
                        <a class="btn btn-primary"  href="{{ path('delete_app', {'id' : app1.id}) }}">Verwijderen</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
