{% extends 'base1.html.twig' %}
{% block navbar %}

    <div class="col-12 col-md-9 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
            </ul>
        </nav>
    </div>

{% endblock %}
{% block body %}
    <div id="contact-section">
        <div class="container">
            <!-- Heading Row -->
            {% for project in project %}
                <div class="row align-items-center my-5">
                    <div class="col-lg-5">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ asset('/image/images/' ~ project.images.name) }}" alt="">
                    </div>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-7">
                        <h1>{{ project.title | raw }}</h1>
                        <p>{{ project.body | raw }}</p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
            {% endfor %}
            <hr>
            <!-- /.row -->
            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-6">
                    <h1>Onetoshop proberen?</h1>
                    <p class="font-weight-light">Wil je rustig ontdekken wat Onetoshop allemaal te bieden heeft? Probeer het platform dan geheel vrijblijvend 30 dagen lang uit.</p>
                    <a href="{{ path('succes') }}"  class="btn btn-outline-primary">Demo aanvragen</a>
                </div>
                <div class="col-lg-6">
                    <h1>Welke apps kies jij?</h1>
                    <p class="font-weight-light">Bij Onetoshop integreren we gemakkelijk jouw webshop met je favoriete betaal-, verzend en social media apps.
                        Éénvoudig te beheren via het gebruiksvriendelijk ingerichte Onetoshop dashboard.
                        Welke apps kies jij?</p>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
            <hr>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}